body {
    background: black;
    color: darkslategrey;
}

#gameField {
    background: #400;
    margin: 0 auto;
    display: block;
    position: relative;
    border: 5px solid black;
}

canvas {
    position: absolute;
}

#items {
    z-index: 2;
}

#foreground {
    z-index: 3;
}

#info {
    z-index: 4;
    background: url("img/info-panel.png") no-repeat bottom center;
    bottom: 0;
}

#links a {
    display: block;
    color: grey;
    padding: 20px 30px;
    background: #444;
    margin: 10px;
}

#mute-sound {
    background: url('img/mute.png') no-repeat;
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    z-index: 4;
    display: block;
}

.muted {
    background-position: 0 bottom !important;
}